.header {
  background-color: rgb(19, 19, 19) !important;
}

.logo {
  color: #ffae00;
  text-decoration: none;
  font-size: 26px;
}

.dropdown-menu {
    background-color: black;
}

.pagina-1 {
  background-color: rgb(19, 19, 19) !important;
  padding-top: 5%;
  padding-bottom: 5%;
  text-align: center;
}
.pagina-1 h1 {
  margin:0;
  color: #ffae00;
}

.pagina-1 .imagem-inicial {
  width: 200px;
  height: 200px;
  margin-top: 10%;
  margin-bottom: 10%;
}

.menu {
  color: #ffae00 !important;
}

.menu-expandido ul li a {
  color: rgb(223, 220, 220);
}

hr{
  background-color: #ffae00 !important;
  width: 100%;
  height: 2px;
  opacity: 1;
  margin: 0;
}

.produtos {
  display: flex;
  align-items: center;
  justify-content: space-around;

  padding-top: 5%;
  padding-bottom: 5%;
  background-color: rgb(19, 19, 19);
}

.produtos .card {
  background-color: black;
  margin-top: 5%;
  padding-top: 5%;
}

.produtos .card .card-body {
  text-align: center;

}

.produtos .card .card-body h5{
  color: #ffae00;
}

.produtos .card .card-body p {
  color: white;
}

.dados-empresa {
  background-color: rgb(19, 19, 19);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding-top: 10%;
  padding-bottom: 10%;
}
.dados-empresa p {
  margin-top: 1%;
  margin-bottom: 1%;
  color: white;
}
.dados-empresa p i{
  color: #ffae00;
}

.faq {
  padding-top: 10%;
  padding-bottom: 10%;
  width: 100%;
  margin: 0 auto;
  background-color: rgb(19, 19, 19);
}

.faq h1{
  text-align: center;
  color: white;
}

.faq h1 span{
  text-align: center;
  color: #ffae00;
}

.question {
  font-weight: bold;
  cursor: pointer;
  color: white;
}

.answer {
  display: none;
  margin-top: 10px;
  color: green;
}

div.estatisticas {
  background-color: rgb(19, 19, 19);
  padding-top: 4%;
  padding-bottom: 4%;
}

div.estatisticas table{
  margin: 0;
  padding: 0;
}

/* Estilos padrão para telas grandes (desktops, tablets, etc.) */

/* Media query para telas menores, como celulares */
@media only screen and (max-width: 767px) {
  .produtos {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
  }
}
